<%- include('./partials/header')%>
<main class='container'>
<body>
    <div class="jumbotron">
        <h1 class="error">Number of teams must be between 1 and number of members</h1>
    </div>
 
</main>
<%- include('./partials/footer')%>



