<%- include('./partials/header')%>
<main class='container'>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Super Team Picker</h1>
    </div>
 
</main>
<%- include('./partials/footer')%>



