
<%- include('./partials/header')%>
<div class="resultpage"><br>
    <div class="groups">
      <% for(let i = 0; i < members.length; i++ ) { %>
        <% let name1 = members[i] %>
        <div class="col-md-2">
          <h2><%= i + 1 %></h2>
          <% for(let name of name1) {%>
            <p><%= `${name}` %></p>
          <% } %>
        </div>
      <% } %>
    </div>
  </div>


<%- include('./partials/footer')%>
