  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <nav class="navbar navbar-light bg-light">
      <nav class="navbar navbar-light bg-light">
        <span style="color: rgb(11, 98, 212)" class="navbar-brand mb-0 h1">Super Team Picker</span>
      </nav>
     </nav> 
      <div class="d-flex p-2 bd-highlight"></div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a style="color: rgb(11, 98, 212)" class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a style="color: rgb(11, 98, 212)" class="nav-link" href="/cohorts">Cohorts</a>
        </li>
        <li class="nav-item active">
          <a style="color: rgb(11, 98, 212)" class="nav-link" href="/new_cohort">New Cohort</a>
        </li>
      </div>
      </ul>
    </div>
  </nav>

