

<nav class="navbar navbar-reverse navbar-expand-sm navbar-light bg-light mb-8">
        <a class="navbar-brand text-primary title" href="/">Super Team Picker</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse topnav justify-content-end" id="navbarNavAltMarkup">
            <div class="">
                <ul class="nav navbar-nav navbar-right">
                   
                    <li class="nav-item"><a class="nav-link text-primary menu" href="/cohorts">Cohorts Index</a></li>
                    <li class="nav-item"><a class="nav-link text-primary menu" href="/new_cohort">New Cohort</a></li>
                </ul> 
            </div>    
        </div>
    </nav>

    